<form class="edit">
    <mat-form-field>
        <mat-label>Post Title</mat-label>
        <input matInput type="text" name="postTitle"  [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Header Image URL</mat-label>
        <input matInput type="text" name="headerImage"  [(ngModel)]="headerImage">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Content</mat-label>
        <textarea matInput name="headerImage"  [(ngModel)]="content"></textarea>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Update Post</button>&nbsp;
    <button mat-raised-button type="submit">Cancel</button>
</form>
