<form class="register">
    <h2>Create an Account</h2>
    <mat-form-field>
        <mat-label>User ID</mat-label>
        <input matInput type="text" name="userID" [formControl]="fUserId" required>
        <mat-hint>This will be the username to login to the system</mat-hint>
        <mat-error *ngIf="fUserId.invalid">Please enter in a value</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstName" [formControl]="fFirstName" required>
        <mat-hint>User's first name</mat-hint>
        <mat-error *ngIf="fFirstName.invalid">Please enter in a value</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastName" [formControl]="fLastName" required>
        <mat-hint>User's last name</mat-hint>
        <mat-error *ngIf="fLastName.invalid">Please enter in a value</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [formControl]="fEmail" required>
        <mat-error *ngIf="fEmail.invalid">{{getEmailErrorMessage()}}</mat-error>
        <mat-hint>User's email address</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="text" name="password" required [formControl]="fPassword">
        <mat-error *ngIf="fPassword.invalid">Please enter in a value</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" (click)="RegisterUser()">Create Your Account</button>
</form>